<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exhibition</title>
    <link rel="stylesheet" href="exhibition.css">
    <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <header><%-include("../views/navBar.ejs",(loggedIn))%></header>
    <section>
      <div class="grid-container" id="exhibitions-list">  
        <% for(var i=0; i < data.length; i++) { %>
        <div class="grid-item" style="background-image: url(<%=data[i].largePreview%>);">
              <h5 class="title">
                <%= data[i].title %>
              </h5>
                
                <%exhibitionsRegistered.forEach(element => {
                    if(element.equals(data[i]._id)) {%>
                          <h2 class="status">registered</h2>
                          <input value="Unregister" type="button" class="button unregister" onclick="location.href='/unregisterExhibition/<%=data[i]._id%>';" />
                    <%}else{%>
                    <input value="Book Now" type="button" class="button" onclick="location.href='/booking/<%=data[i]._id%>';" />
                    <%}%>
                <%})%>
                <%if(exhibitionsRegistered.length==0){%>
                      <input value="Book Now" type="button" class="button" onclick="location.href='/booking/<%=data[i]._id%>';" />
                  <%}%>
             
          <div class="details">
            <p class="subtitle"><%= data[i].startDate.toLocaleString('default', {day: '2-digit',month: 'long', year: 'numeric' }); %> - 
              <%= data[i].endDate.toLocaleString('default', {day: '2-digit',month: 'long', year: 'numeric' }); %>
            </p>
          </div>
        </div>
        <% } %>
      </div>
        <input type="button" class="load-more input" id="loadMore" value="Load more exhibitions" onclick="onLoadMoreClick()"/>
    </section>
    <footer><%- include("../public/partials/footer.html")%></footer>
    <script src="exhibitions.js"></script>
  </body>
</html>
