<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exhibition</title>
    <link rel="stylesheet" href="exhibition.css">
    <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <header><%- include("../public/partials/navBar.html") %></header>

    <section>
      <div class="grid-container">          
        <% for(var i=0; i < data.length; i++) { %>
      <%console.log(data[i].thumbNail)%>
        <div class="grid-item" style="background-image: url(<%=data[i].thumbNail%>);">
          <h5 class="title"><%= data[i].title %></h5>
          <input value="Book Now" type="button" class="button" />
          <div class="details">
            <p class="subtitle"><%= data[i].startDate %> - <%= data[i].endDate %></p>
          </div>
        </div>
        <% } %>
      </div>
    </section>

    <footer><%- include("../public/partials/footer.html")%></footer>
  </body>
</html>
