<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
    <base href="http://localhost:8081">
  </head>
  <body>
    <header><%- include("../views/navBar.ejs",(loggedIn)) %></header>
    <section>
      <div class="main">
        <div class="first-section" >
          <h3 class="main-title">Welcome to the louvre</h3>
          <p style="color: gold">The louvre is open from 6:00am until 9:00pm</p>
          <a href="/visit" class="input">Plan your Visit</a>
        </div>
            <div class="event-section">
                <div class="header">
                    <h1 class="section-header-title">Exhibition and Events</h1>
                    <a href="/exhibition" style="color: black">See all Exhibitions</a>
                </div>
                <div class="grid-container"> 
                    <%exhibitions.forEach((element,index) => {%>
                    <div class="gridItem event<%=index+1%>">
                        <h3> <%=element.title%>
                            <br>
                            <span class="special-words">
                            <%=element.slogan %> 
                        </span>
                        </h3>
                        <div class="details">
                            <p>
                                <%=
                                    element.startDate.toLocaleString('default', {day: '2-digit',month: 'long', year: 'numeric'  });
                                %> -
                                <%= 
                                    element.endDate.toLocaleString('default', {day: '2-digit',month: 'long', year: 'numeric' });
                                %>
                            </p>
                            <input type="button" value="Book now" class="book-now-button" />
                        </div>
                        <img src="<%=element.smallPreview%>" class="image" />
                    </div>
                <%})%>
                </div>
            </div>
          </div>
        </div>

        <div class="gallery-section">
          <h1 class="section-header-title">Explore Gallery</h1>
          <div class="gallery-container">
       <% for(var i=1; i <= 8; i++) { %> 
            <div class="gallery-item" id="item<%=i%>">
            </div>
          <%}%> 
          </div>
        </div>

        <div class="email-section">
          <div class="card">
            <div class="title">
              <h6>Subscribe to <br />our newsletter</h6>
            </div>
            <div class="content">
              <p>Stay up-to-date for all new events, exhibitions, and news</p>
              <input type="text" placeholder="Email" />
              <input type="button" value="submit" />
            </div>
          </div>
        </div>
        <div class="selected-arts-section">
          <h1 class="section-header-title">Selected arts</h1>
          <div class="arts">
            <% for(var i=0; i < selectedArts.length; i++) { %>

            <div class="art-item">
              <% if(i%2==0){ %>
              <div class="preview">
                <img
                  src="<%=selectedArts[i].thumbNail%>"
                  alt="<%= selectedArts[i].title %>"
                  class="image"
                  width="100%"
                  height="100%"
                />
              </div>
              <div class="details">
                <h2><%= selectedArts[i].title %></h2>
                <p><%= selectedArts[i].description %></p>
              </div>
              <% }else{ %>
              <div class="details">
                <h2><%= selectedArts[i].title %></h2>
                <p><%= selectedArts[i].description %></p>
              </div>

              <div class="preview">
                <img
                  src="<%=selectedArts[i].thumbNail%>"
                  alt="<%= selectedArts[i].title %>"
                  class="image"
                  width="100%"
                  height="100%"
                />
              </div>
              <% }%>
            </div>

            <% } %>
          </div>
        </div>
      </div>
    </section>
    <footer><%- include("../public/partials/footer.html")%></footer>
    <script src="homeScript.js"></script>
  </body>
</html>
